AIRFLOW_UID=1000
AIRFLOW_GID=0
AIRFLOW_HOME=./airflow
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
# FERNET_KEY=your_fernet_key
# Set this variable to a valid key to suppress FERNET_KEY warning

EMAIL_BACKEND=local
# EMAIL_BACKEND=cloud
# If cloud backend is selected, CLOUD_EMAIL parameters must have valid values

LOCAL_EMAIL_SENDER_ADDRESS=airflow@example.com

CLOUD_EMAIL_ENDPOINT=https://api.mailgun.net/v3/sandbox12345678.mailgun.org/messages
CLOUD_EMAIL_SENDER_ADDRESS=postmaster@sandbox12345678.mailgun.org
CLOUD_EMAIL_API_KEY=your_mailgun_api_key